html { 
	font-family: Helvetica; 
	display: inline-block; 
	margin: 0px auto; 
	text-align: center;
}
.button { 
	background-color: #195B6A; 
	border: none; 
	color: white; 
	padding: 16px 40px;
	text-decoration: none; 
	font-size: 30px; 
	margin: 2px; 
	cursor: pointer;
}
.button2 {
	background-color: #77878A;
}
.c-levels {
	max-width: 800px;
    padding-top: 10px;
}
.c-levels input {
	padding: 5px;
    margin: 5px;
    width: 20%;
}